$zinc50: #fafafa;
$zinc100: #f4f4f5;
$zinc200: #e4e4e7;
$zinc300: #d4d4d8;
$zinc400: #a1a1aa;
$zinc500: #71717a;
$zinc600: #52525b;
$zinc700: #3f3f46;
$zinc800: #27272a;
$zinc900: #18181b;
$zinc950: #09090b;

$violet50: #f5f3ff;
$violet100: #ede9fe;
$violet200: #ddd6fe;
$violet300: #c4b5fd;
$violet400: #a78bfa;
$violet500: #8b5cf6;
$violet600: #7c3aed;
$violet700: #6d28d9;
$violet800: #5b21b6;
$violet900: #4c1d95;
$violet950: #2e1065;